<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Eventoz : Registra Allievo</title>
<!-- Favicon -->
<link rel="shortcut icon" type="image/icon" href="images/favicon.ico" />
<!-- Font Awesome -->
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Slick slider -->
<link href="css/slick.css" rel="stylesheet">
<!-- Theme color -->
<link id="switcher" href="css/theme-color/default-theme.css"
	rel="stylesheet">

<!-- Main Style -->
<link href="style.css" rel="stylesheet">

<!-- Fonts -->

<!-- Open Sans for body font -->
<link
	href="https://fonts.googleapis.com/css/family=Open+Sans:300,400,400i,600,700,800"
	rel="stylesheet">
<!-- Montserrat for title -->
<link href="https://fonts.googleapis.com/css/family=Montserrat"
	rel="stylesheet">
</head>

<body>
<div sec:authorize="hasRole('ROLE_USER')">
<h1>Azione Riservata al Direttore dell'Azienda!</h1>
</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
	
	<!-- Start Contact -->
	<section id="mu-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-contact-area">

						<div class="mu-title-area">
							<h2 class="mu-heading-title">Aggiungi Attività</h2>
							<p th:text="${esiste}"></p>
						</div>

						<!-- Start Contact Content -->
						<div class="mu-contact-content">
							<div class="row">

								<div class="col-md-12">
									<div class="mu-contact-form-area">
										<div id="form-messages"></div>
										<form th:action="@{/attivita}" method="post" th:object="${attivita}" class="mu-contact-form">
											<div class="form-group">
												<select th:field="*{centro}">
													<option th:each="centri : ${elencoCentri}" th:value="${centri.id}"
														th:text="${centri.nome}"></option>
												</select>
											</div>
											<div class="form-group">
												<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}" />
												<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
											</div>
											<div class="form-group">
												<input type="date" class="form-control" placeholder="Data" th:field="*{data}" />
												<div th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></div>
											</div>
											<div class="form-group">
												<input type="time" class="form-control" placeholder="Ora" th:field="*{ora}" />
												<div th:if="${#fields.hasErrors('ora')}" th:errors="*{ora}"></div>
											</div>
											<div class="form-group">
												<textarea class="form-control" placeholder="Descrizione" th:field="*{descrizione}"></textarea>
												<div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
											</div>
											<button type="submit" class="mu-send-msg-btn">
												<span>AGGIUNGI</span>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- End Contact Content -->
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>
	<!-- End Contact -->