<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Eventoz : Registra Allievo</title>
<!-- Favicon -->
<link rel="shortcut icon" type="image/icon" href="images/favicon.ico" />
<!-- Font Awesome -->
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Slick slider -->
<link href="css/slick.css" rel="stylesheet">
<!-- Theme color -->
<link id="switcher" href="css/theme-color/default-theme.css"
	rel="stylesheet">

<!-- Main Style -->
<link href="style.css" rel="stylesheet">

<!-- Fonts -->

<!-- Open Sans for body font -->
<link
	href="https://fonts.googleapis.com/css/family=Open+Sans:300,400,400i,600,700,800"
	rel="stylesheet">
<!-- Montserrat for title -->
<link href="https://fonts.googleapis.com/css/family=Montserrat"
	rel="stylesheet">
</head>

<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
<h1>Azione Riservata al Responsabile del Centro!</h1>
</div>
	<div sec:authorize="hasRole('ROLE_USER')">
	<!-- Start Register  -->
	<section id="mu-register">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-register-area">

						<div class="mu-title-area">
							<h2 class="mu-title">Registra Nuovo Allievo</h2>
							<p th:text="${esiste}"></p>
							<p th:text="${numeroSuperato}"></p>
						</div>

						<div class="mu-register-content">
							<form class="mu-register-form" th:action="@{/allievo}"
								method="post" th:object="${allievo}">

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Nome"
												th:field="*{nome}" />
											<h5 style="color: red" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></h5>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Cognome"
												th:field="*{cognome}" />
											<h5 style="color: red" th:if="${#fields.hasErrors('cognome')}"
												th:errors="*{cognome}"></h5>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Email"
												th:field="*{email}" />
											<h5 style="color: red" th:if="${#fields.hasErrors('email')}"
												th:errors="*{email}"></h5>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="date" class="form-control"
												name="Data Di Nascita" th:field="*{data}" />
											<h5 style="color: red" th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></h5>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control"
												placeholder="Luogo Di Nascita" th:field="*{luogoNascita}" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<select th:field="*{centro}">
												<option th:each="centra : ${centri}" th:value="${centra.id}"
													th:text="${centra.nome}"></option>
											</select>
										</div>
									</div>
								</div>

								<button type="submit" class="mu-reg-submit-btn">REGISTRA</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Register -->
	</div>
</body>
</html>