<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Evento : Allievo</title>
<!-- Favicon -->
<link rel="shortcut icon" type="image/icon" href="/images/favicon.ico" />
<!-- Font Awesome -->
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Slick slider -->
<link href="/css/slick.css" rel="stylesheet">
<!-- Theme color -->
<link id="switcher" href="/css/theme-color/default-theme.css"
	rel="stylesheet">

<!-- Main Style -->
<link href="style.css" rel="stylesheet">

<!-- Fonts -->

<!-- Open Sans for body font -->
<link
	href="https://fonts.googleapis.com/css/family=Open+Sans:300,400,400i,600,700,800"
	rel="stylesheet">
<!-- Montserrat for title -->
<link href="https://fonts.googleapis.com/css/family=Montserrat"
	rel="stylesheet">
</head>

<body>

	<!-- Start Speakers -->
		<section id="mu-speakers">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-speakers-area">

							<div class="mu-title-area">
								<h2 class="mu-title">Allievo</h2>
							</div>
							
							<!-- Start Speakers Content -->
							<div class="mu-speakers-content">

								<div class="mu-speakers-slider">

								<!-- Start single speaker -->
									<div class="mu-single-speakers">
										<img src="/images/speaker-1.jpg" alt="speaker img">
										<div class="mu-single-speakers-info">
											<h3>Nome: <span th:text="${allievo.nome}"></span></h3>
											<h3>Cognome: <span th:text="${allievo.cognome}"></span></h3>
											<h3>E-mail: <span th:text="${allievo.email}"></span></h3>
											<h3>Data e Luogo di nascita: <span th:text="${allievo.data}"></span> <span th:text="${allievo.luogoNascita}"></span></h3>
											<h3>Centro: <span th:text="${allievo.centro.nome}"></span></h3>	
										</div>
									</div>
								</div>
								<!-- End single speaker -->

								</div>
							</div>
							<!-- End Speakers Content -->

						</div>
					</div>
				</div>
		</section>
		<!-- End Speakers -->
	
	<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
	<!-- Slick slider -->
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <!-- Ajax contact form  -->
    <script type="text/javascript" src="/js/app.js"></script>

    <!-- Custom js -->
	<script type="text/javascript" src="/js/custom.js"></script>

</body>
</html>